<<<<<<< HEAD
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


=======
.controlBlock {
  display: flex;
  justify-content: center;
}

>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
.selectedInfo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

<<<<<<< HEAD

=======
>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
.infoCategoryName {
  background-color: transparent;
  color: #7958af;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

<<<<<<< HEAD

=======
>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
.selectedNumber {
  width: 30px;
  height: 30px;
  background-color: #7958af;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

<<<<<<< HEAD

.wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 170px 0 0;
}


=======
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  margin: 170px 0 0;
}

>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
.selectionMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  text-align: center;
  margin: 20px;
}

<<<<<<< HEAD

.buttonGroup {
  display: flex;
  gap: 50px;
}


=======
>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
.question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

<<<<<<< HEAD

=======
>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

<<<<<<< HEAD

.option {
=======
.option {
  background-color: #fed86b;
  border: 2px solid #7958af;
>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
  width: 500px;
  height: 80px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
<<<<<<< HEAD
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}


.option:nth-child(1) {
  background-color: #e21b3c;
}


.option:nth-child(2) {
  background-color: #1368ce;
}


.option:nth-child(3) {
  background-color: #d89e00;
}


.option:nth-child(4) {
  background-color: #26890c;
}


.incorrectOption {
  background-color: #d3d3d3 !important; /* Светло-серый цвет для неправильных ответов */
}
=======
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #7958af;
  color: white;
}

.selected {
  background-color: #7958af;
  color: white;
}

/* .startTimerButton,
.showAnswerButton,
.selectCategoryButton {
  font-size: 24px;
  padding: 10px 20px;
  margin-bottom: 50px;
  background-color: #7958af;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
  display: flex;
  align-items: center;
}

.startButtonIcon {
  width: 40px;
  height: 40px;
} */
>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
