<<<<<<< HEAD
* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 150px repeat(9, 1fr);
  grid-template-rows: auto;
  gap: 10px;
=======
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
<<<<<<< HEAD

.header {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background-color: #a18ac7;
  color: white;
  height: 50px;
  width: 100%; /* Полностью покрываем доступную ширину в grid */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.easy {
  grid-column: 2 / 5; /* Покрываем блоки 1, 2, 3 */
}

.medium {
  grid-column: 5 / 8; /* Покрываем блоки 4, 5, 6 */
}

.hard {
  grid-column: 8 / 11; /* Покрываем блоки 7, 8, 9 */
}

.category {
  grid-column: 1;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #7958af;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.box {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7958af;
  color: white;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  border: none;
  font-size: 50px;
  border-radius: 10px;
  flex-shrink: 0;
}

.used {
  background-color: lightgray;
}
=======
>>>>>>> 8740623cfc973399b6f1c5cf32225d0f4f3458fe
