.quiz_page {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fed86b;
  overflow-y: auto;
}

.miniature {
  width: 100%;
  height: 100%;
  transform: scale(0.2); /* Scale down the component */
  transform-origin: top left;
  overflow: hidden;
}
