.quiz_thumbnail {
  width: 1000px;
  height: 1000px;
  transform: scale(0.2);
  transform-origin: top left;
  overflow: hidden;
  pointer-events: none;
  background-color: #fed86b;
  display: flex;
  justify-content: center;
  align-items: center;
}
