/* src/styles/SelectionMode.module.css */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  margin: 170px 0 0;
}

.selectionMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  text-align: center;
  margin: 20px;
}

.question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.option {
  background-color: #fed86b;
  border: 2px solid #7958af;
  width: 360px;
  height: 60px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #7958af;
  color: white;
}

.selected {
  background-color: #7958af;
  color: white;
}
