.timer {
  font-size: 72px;
  transition: opacity 0.3s ease;
  font-weight: 800;
  color: #7958af;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fed86b; /* Yellow background */
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.timer .digit,
.timer .colon {
  background: rgba(255, 255, 255, 0.7); /* Translucent white background */
  border-radius: 10px;
  padding: 10px 0; /* Adjusted for consistent width */
  margin: 0 5px;
  display: inline-block;
  width: 80px; /* Fixed width for digits */
  text-align: center; /* Center align digits */
}

.timer .colon {
  background: transparent; /* No background for the colon */
  width: auto; /* Let colon have auto width */
  padding: 0 10px;
}
